@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");

/* css normalize & reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  line-height: inherit;
  width: 100%;
  background-color: #f5f8fa;
  -webkit-font-smoothing: antialiased;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
a {
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
  appearance: button;
  background-color: transparent;
  background-image: none;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: var(--general-text-color);
}
[role="button"],
button {
  cursor: pointer;
}
.heading {
  width: 100%;
}
img, svg {
  display: block;
}
input,
button,
optgroup,
textarea,
select {
  font: inherit;
  line-height: 1.15;
  color: inherit;
  font-size: 100%;
  margin: 0;
  text-transform: none;
}
button,
input {
  overflow: visible;
}
button {
  outline: none;
  border: none;
}
/* css normalize & reset end */

.visually-hidden:not(:focus):not(:active){
    position: absolute;
    overflow: hidden;
    clip:rect(0 0 0 0);
    height: 1px;
    width:1px;
    margin: -1px;
    padding: 0;
    border:0;
}
.heading {
  padding-block: 20px;
  padding-inline: 40px;
  border-bottom: 2px solid #e0e6ea;
}
.navigation-bar {
  display: flex;
  justify-content: space-between;
}
.navigation-bar .logo {
  display: flex;
  align-items: center;
}
.navigation-bar .logo img {
  width: 200px;
  height: 39px;
}
.navigation-bar ul#nav-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.navigation-bar ul li {
  color: #1d2c3c;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01px;
}
.navigation-bar ul li:not(:last-of-type) {
  margin-inline-end: 42px;

  &:hover{
    color: #1179bf;
  }
}
.navigation-bar ul li .acc-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 91px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 2px solid #646e7a;
  transition: all 0.4s ease-in;

  &:is(:focus,:hover){
    background-color: #1179bf;
    border: none;
    outline: none;
    color: #fff;
  }
}

/* styling for the 
website main content */
.main-content {
  max-width: 892px;
  margin-block: 85px;
  margin-inline: auto;
}
.main-content .content-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05),
    0px 15px 35px 0px rgba(43, 64, 78, 0.1);
}
.content-container .user-form {
  padding-block: 41px;
}
.user-form .heading {
  padding-inline: 48px;
  padding-bottom: 24px;
  border-bottom: 2px solid #f5f7fa;
}
.user-form .heading h2 {
  color: #1d2c3c;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.user-form .user-details {
  margin: 36px 0 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-details .info,
.user-details .payment {
  border-bottom: 2px solid #f5f7fa;
}
.detail-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 48px;
  gap: 12px;
}
.detail-heading span {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 55px;
  color: #548bc5;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.142px;
  border: 2px solid #548bc5;
}
.detail-heading h4 {
  color: #1d2c3c;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.16px;
}
.info .user-input-form {
  margin-top: 12px;
  margin-bottom: 36px;
  padding-inline: 48px;
}
.user-input-form .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name .nameOne,
.nameTwo {
  display: flex;
  flex-direction: column;
}
.name input {
  width: max(229px, 180px);
}
.user-input-form label {
  color: #1d2c3c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 7px;
}
.user-input-form input {
  padding: 9px 13px;
  color: #646e7a;
  border-radius: 4px;
  outline: none;
  border: 1px solid #edeff2;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  background: unset;
  overflow: hidden;
  transition: all 0.2s ease-out;
}
.user-input-form input:is(:hover, :focus) {
  border: 2px solid #1d2c3c;
}
input:placeholder-shown{
    background: #edeff2;
}

.user-input-form .emailAddress {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.emailAddress .email {
  max-width: 370px;
}
/* styling for the payment 
details */
.user-details .payment {
  margin-top: 36px;
}
.payment .user-input-form {
  margin-top: 12px;
  margin-bottom: 36px;
  padding-inline: 48px;
}
.payment .user-input-form {
  display: flex;
  flex-direction: column;
}
.user-input-form .card-input {
  display: flex;
  border-radius: 4px;
  border: 1px solid #edeff2;
  overflow: hidden;
  transition: border 0.2s ease-in;
}
.user-input-form .card-input:is(:hover, :focus) {
  border: 2px solid #1d2c3c;
}
.card-input input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.card-input input:first-child{
  width: 80%;
  border: none;
  border-radius: 0;
}
.card-input input:not(:first-of-type){
  width: 30%;
  border: none;
  outline: none;
  text-align: right;
  border-radius: 0px;
}
.card-input input:not(:first-of-type)::placeholder{
  float: right;
}
/* styling for the action
button */
.user-form button[type="submit"] {
  margin-inline: 48px;
  padding-block: 15px;
  width: 483px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.396px;
  color: #fff;
  border-radius: 5px;
  background: #038e7d;
  transition: all 0.2s ease-in-out;

  &:is(:hover, :focus){
    background-color: #017a6c;
  }
}
.user-form .container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}
.container-footer .contact-support {
  display: inline-flex;
  justify-content: center;
}
.contact-support p {
  color: #1d2c3c;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01px;
  width: 280px;
  padding-left: 6px;
}
.contact-support p span {
  color: #646e7a;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.01px;
}
.contact-support p .contact-link {
  text-decoration: underline;
}
footer .maker svg {
  margin-top: 34px;
}
/* styling for the right side 
container */
.content-container .plan-details {
  width: 312px;
  padding: 41px 46px;
  border-radius: 0px 6px 6px 0px;
  background: #1179bf;
  color: #fff;
}
.plan-details .plan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.plan h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01px;
}
.plan p.price {
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.015px;
}
.plan p.price sup {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.015px;
}
.plan p.price span {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.015px;
}
.plan p.renewal {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.008px;
  max-width: 162px;
}
.plan-details .plan-benefits {
  margin-block: 36px;
}
.plan-benefits #benefit-list > li {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.008px;
}
#benefit-list > li:not(:last-child) {
  padding-block-end: 8px;
}
#benefit-list > li svg {
  margin-inline-end: 11px;
}
#benefit-list > li span {
  margin-inline: 4px;
  font-weight: 700;
}
.plan-details .help {
  padding-block-end: 41px;
}
.plan-details .help p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.008px;
}
.plan-details .help p span {
  font-style: normal;
  font-weight: 700;
}
.plan-details .help a {
  text-decoration: underline;
}
.plan-details .help a span {
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.008px;
}
.plan-details .testimony {
  padding-block-start: 43px;
  border-top: 2px solid #ffffff31;
}
.testimony p {
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.009px;
}
.testimony p span {
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
}
.testimony .profile {
  margin-top: 17px;
  display: flex;
  align-items: center;
  gap: 14px;
}
.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.profile span {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.008px;
}
.main-content .copyright {
  color: #636b6f;
  margin-top: 33px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.copyright span {
  color: #31708f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* screen responsiveness */
@media screen and (max-width: 920px) {
  .main-content {
    margin-inline: 20px;
  }
  .main-content .content-container {
    display: flex;
    justify-content: space-between;
  }
  .content-container .plan-details {
    width: 40%;
    padding: 41px 25px;
  }
  .user-form .heading,
  .detail-heading,
  .info .user-input-form,
  .payment .user-input-form {
    padding-inline: 25px;
  }
  .user-form button {
    margin-left: 30px;
  }
}
@media screen and (max-width: 794px) {
  .top {
    padding-inline: 20px;
  }
  .navigation-bar .logo img {
    width: 160px;
    height: 33px;
  }
  .content-container .user-form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .name input {
    width: 170px;
  }
  .user-form button {
    width: 345px;
  }
}
@media screen and (max-width: 680px) {
  .navigation-bar .logo img {
    width: 141px;
    height: 28px;
  }
  .navigation-bar ul li:not(:last-of-type){
    margin-inline-end:30px;
  }
  .main-content {
    margin-block: 60px;
  }
  .user-form .heading h2 {
    font-size: 28px;
  }
  .name input {
    width: 160px;
  }
  .plan p.price {
    font-size: 50px;
  }
}
@media screen and (max-width: 666px) {
  h4 {
    font-size: 16px;
  }
  .plan p.price {
    font-size: 40px !important;
  }
}
